.dataFont {
  font-family: Helvetica, Arial, sans-serif
}

.txtFont {
  font-family: Georgia, serif;
}

.robo {
  font-family: 'Roboto', sans-serif;
}

.mont {
  font-family: 'Montserrat', sans-serif;
}