.header-content {
  background-color: #dcb780;
}

.header-bar {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: #bc4c34;
  padding: 1rem;
  padding-bottom: 1.5rem;
  border-radius: 0px 0px 10px 10px;
}

.logo {
  flex: 0 0 15%;
  margin: 0em 3em 0em 1em;
}

.logo img {
  width: 100%;
}

.page-title {
  flex: 0 0 40%;
  font-size: 2.5vw;
  margin: 0;
}

nav {
  flex: 0 0 35%;
  font-size: 1.2vw;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav a {
  color: #260f0a;
}

nav a:hover {
  color: #d0c9c2;
}

.main-content {
  background-color: #dcb780;
  padding-top: 2em;
  padding-bottom: 1.5em;
}

.intro-content, .ingredients {
  padding: 2em;
  margin: 0 auto 1em auto;
}

.intro-content {
  width: 60%;
  border: 4px dotted #a46845;
  border-radius: 5px;
}

.ingredients {
  width: 30%;
  list-style-position: outside;
}

.ingredients li:nth-child(odd) {
  background-color: #dfc49d;
}

.footer-bar {
  margin-left: 0px;
  margin-right: 0px;
  padding: 2em;
}