.header-content {
  background-color: #dcb780;
}

.header-bar {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: #bc4c34;
  padding: 1rem;
  padding-bottom: 1.5rem;
  border-radius: 0px 0px 10px 10px;
}

.logo {
  flex: 0 0 15%;
  margin: 0em 3em 0em 1em;
}

.logo img {
  width: 100%;
}

.page-title {
  flex: 0 0 40%;
  font-size: 2.5vw;
  margin: 0;
}

nav {
  flex: 0 0 35%;
  text-align: right;
  font-size: 1.2vw;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav a {
  color: #260f0a;
}

nav a:hover {
  color: #d0c9c2;
}

.main-content {
 background-color: #dcb780;
 padding-top: 2em;
 padding-bottom: 1.5em;
 text-align: center;
}

.intro-content {
  width: 40%;
  padding: 2em;
  margin: 0 auto 20em auto;
  border: 4px dotted #a46845;
  border-radius: 5px;
  text-align: left;
}

.footer-bar {
  margin-left: 0px;
  margin-right: 0px;
  padding: 2em;
  text-align: center;
}