@import 'sales.css';
@import 'index.css';
@import 'fonts.css';

/* site colors guide */
.sienna-uldrk {color: #260f0a;;}
.sienna-exdrk {color: #5e261a;}
.sienna-drk   {color: #bc4c34;}
.sienna-med   {color: #c35e48;}
.sienna-lgt   {color: #dea69a;}
.site-yellow  {color: #dcb780;}
.site-y-lgt   {color: #dfc49d;}
.site-blk     {color: #36342b;}
.site-wht     {color: #f8edeb;}

/* site global styles */
.bg-color {
  background-color: #36342b;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #843524;
}

a:hover {
  color: #260f0a;
}